---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex flex-col text-xl gap-[1.5rem] text-white">
  <span>
    {t("contact.mainDescription")}
  </span>
  <a title={t("contact.mailTitle")} href="mailto:conamba.aparejadores@gmail.com" class="hover:underline">
    conamba.aparejadores@gmail.com
  </a>
  <a title={t("contact.phoneTitle")}  href="tel:+34630360927" class="hover:underline">
    630 360 927
  </a>
  <span> {t("contact.disponibility")}</span>
</div>
