---
interface Image {
  url: string;
  description?: string | undefined;
}
const { images } = Astro.props;
---

<section
  class="splide w-full mx-auto mt-[2rem] md:mt-[3rem]"
  aria-label="Galería imágenes"
>
  <div class="splide__track">
    <ul class="splide__list">
      {
        images.map((image: Image) => {
          return (
            <li class="splide__slide">
              <img class="h-full cover" src={`/projects${image.url}`} />
            </li>
          );
        })
      }
    </ul>
  </div>
</section>
