---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
	<script src="https://kit.fontawesome.com/dc5b08e529.js" crossorigin="anonymous"></script>
  </head>
  <body class="flex flex-col min-h-screen font-franklin relative">
		<slot />
    <footer class="bg-customGreen w-full p-6 text-center mt-auto font-semibold">
      CONAMBA - APAREJADORES
    </footer>
  </body>
</html>
<style is:global>
  body {
    background-color: rgb(0, 0, 0);
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        rgb(0, 0, 0) 10px
      ),
      repeating-linear-gradient(rgba(21, 21, 21, 0.333), rgb(21, 21, 21));
  }
</style>
